.bid{
    margin-bottom: 80px;
    background: var(--bg);
    border-radius: 90px;
    padding: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-margin: 200px;   
    @include media(1900){
        scroll-margin: 100px;
    }                                                
    @include media(576){
        margin-bottom: 40px;
        border-radius: 32px;
        padding: 32px 16px;
        scroll-margin: 50px;
    }
    &__form{
        max-width: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title{
        text-align: center;
    }
    &__field{
        position: relative;
        width: 100%;
        margin-bottom: 24px;
        @include media(768){
            margin-bottom: 16px;
        }
        svg{
            position: absolute;
            right: -16.5px;
            top: 0;
            @include media(576){
                right: -8px;
            }
        }
    }
    &__chk{
        margin-top: 10px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        column-gap: 10px;
        margin-bottom: 32px;
        @include media(768){
            margin-top: 0;
        }
        @include media(576){
            margin-bottom: 16px;
        }
        label{
            font-weight: 400;
            font-size: 24px;
            line-height: 36px;
            color: #2A303E;
            @include media(768){
                font-size: 16px;
                line-height: 24px;
            }
        }
    }
    &__button{
        width: 100%;
    }
}