.bron{
    background: var(--bg);
    padding: 200px 0;
    @include media(1900){
        padding: 100px 0;
    }
    @include media(576){
        padding: 50px 0px;
    }
    &__title{
        text-align: center;
    }
    &__content{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        column-gap: 90px;
        row-gap: 24px;
        @include media(1200){
            column-gap: 30px;
        }
        @include media(992){
            flex-direction: column;
        }
    }
    &__calendar{
        background: #FFFFFF;
        box-shadow: 0px 0px 44px -4px rgba(149, 111, 57, 0.14);
        border-radius: 28.5px;
        width: 50%;
        @include media(992){
            width: 100%;
        }
    }
    &__form{
        max-width: 646px;
        width: 50%;
        @include media(992){
            width: 100%;
            max-width: 100%;
        }
    }
    &__field{
        input{
            @include media(992){
                width: 100%;
                max-width: 100%;
            }
        }
    }
    &__row{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        @include media(992){
            justify-content: space-between;
        }
        &:first-of-type{
            margin-bottom: 16px;
        }
        &:nth-child(2){
            margin-bottom: 56px;
            @include media(992){
                margin-bottom: 24px;
            }
        }
        b{
            font-weight: 700;
            font-size: 24px;
            line-height: 36px;
            color: #2A303E;
            @include media(992){
                text-align: right;
            }
            @include media(576){
                font-size: 16px;
                line-height: 24px;
            }
        }
        &-left{
            width: 260px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            column-gap: 8px;
            font-weight: 400;
            font-size: 24px;
            line-height: 36px;
            color: #2A303E;
            @include media(576){
                font-size: 16px;
                min-width: 165px;
                width: 200px;
                line-height: 24px;
            }
        }
    }
    &__field{
        input{
            max-width: 646px;
        }
    }
    &__btn{
        width: 100%;
    }
    &__time{
        width: 100%;
        padding: 20px 90px 40px 90px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 24px;
        @include media(1400){
            padding: 20px 30px 40px 30px;
        }
        @include media(768){
            padding: 0 24px 24px 24px;
        }
        @include media(576){
            gap: 16px 8px;
        }
        &-item{
            position: relative;
            width: calc(25% - 18px);
            height: 48px;
            @include media(576){
                width: calc(25% - 6px);
                height: 36px;
            }
            input{
                &:checked{
                    &~label{
                        background: #E3B983;
                        border-color: #E3B983;
                    }
                }
            }
            label{
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #FFFFFF;
                border: 1px solid #E0E0E0;
                border-radius: 8px;
                font-weight: 400;
                font-size: 24px;
                line-height: 36px;
                text-align: center;
                color: #333333;
                @include media(768){
                    font-size: 16px;
                    line-height: 24px;
                }
            }
        }
    }
    &__btn{
        @include media(576){
            padding: 17px;
        }
    }
}