.footer{
    border-top: 1.5px solid #ECEAE3;
    padding: 30px 0;
    @include media(1900){
        padding: 20px 0;
    }    
    &__nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 50px;
    }
    &__logo{
        @include media(1900){
            width: 120px;
            img{
                width: 100%;
            }
        }
    }
    &__list{
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 35px;
        row-gap: 16px;
        @include media(1900){
            column-gap: 25px;
        }
    }
    &__link{
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;
        color: #2A303E;
        text-decoration: none;
        @include media(1900){
            font-size: 18px;
        }
    }
    &__tel{
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        text-decoration: none;
        color: #2A303E;   
        @include media(1900){
            font-size: 18px;
        }            
    }
}