mixin advantages-title('')

mixin advantages()
    section.section.advantages
        .section__header 
            h2.title.advantages__title К нам #[span стоит прийти] 
            p.section__desc.advantages__desc Несколько важных преимуществ, которые помогут вам выбрать нашу студию для реализации своих проектов
        
