mixin approximate()
    section.section.approximate 
        .approximate__body.container 
            h2.approximate__title.title Примерные #[span цены]
            .approximate__row 
                .approximate__item.active 
                    p.approximate__item-title Под ключ
                    p.approximate__item-time 5-15 минут
                    .approximate__item-p
                        <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg"><rect y="0.99707" width="23.9899" height="23.9899" rx="11.995" fill="#31AD72"/><path fill-rule="evenodd" clip-rule="evenodd" d="M19.0453 7.98676L10.8267 17.4697L5.57324 12.2163L6.42141 11.3681L10.7639 15.7106L18.1388 7.20117L19.0453 7.98676Z" fill="#E3B983"/></svg>
                        | Препродакшн (Разработка сценария, раскадровка, закадровый текст)
                    .approximate__item-p
                        <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg"><rect y="0.99707" width="23.9899" height="23.9899" rx="11.995" fill="#31AD72"/><path fill-rule="evenodd" clip-rule="evenodd" d="M19.0453 7.98676L10.8267 17.4697L5.57324 12.2163L6.42141 11.3681L10.7639 15.7106L18.1388 7.20117L19.0453 7.98676Z" fill="#E3B983"/></svg>
                        | Продакшн (Съемка: оператор, режисёр, помощник оператора, всё необходимое оборудование)
                    .approximate__item-p
                        <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg"><rect y="0.99707" width="23.9899" height="23.9899" rx="11.995" fill="#31AD72"/><path fill-rule="evenodd" clip-rule="evenodd" d="M19.0453 7.98676L10.8267 17.4697L5.57324 12.2163L6.42141 11.3681L10.7639 15.7106L18.1388 7.20117L19.0453 7.98676Z" fill="#E3B983"/></svg>
                        | Постпродакшн (Монтаж, графика, цветокоррекция)
                    .approximate__item-sep.dn 
                    p.approximate__item-price от #[span 90 000 ₽]
                    a(href="#!").btn.approximate__item-btn Заказать 
                .approximate__item 
                    p.approximate__item-title.dn Аренда студии
                    p.approximate__item-time.dn 
                    .approximate__item-p
                        <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg"><rect y="0.496582" width="23.9899" height="23.9899" rx="11.995" fill="#31AD72"/><path fill-rule="evenodd" clip-rule="evenodd" d="M19.0453 7.48676L10.8267 16.9697L5.57324 11.7163L6.42141 10.8681L10.7639 15.2106L18.1388 6.70117L19.0453 7.48676Z" fill="white"/></svg>
                        | Аренда видеооборудования
                    .approximate__item-p
                        <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg"><rect y="0.496582" width="23.9899" height="23.9899" rx="11.995" fill="#31AD72"/><path fill-rule="evenodd" clip-rule="evenodd" d="M19.0453 7.48676L10.8267 16.9697L5.57324 11.7163L6.42141 10.8681L10.7639 15.2106L18.1388 6.70117L19.0453 7.48676Z" fill="white"/></svg>
                        | Привлечение операторов
                    .approximate__item-sep 
                    p.approximate__item-price от #[span 10 000 ₽/час]
                    p.approximate__item-info * При аренде видеотехники премиум сегмента, стоимость 1 часа, в тех же условиях - от 35 000 ₽
                    a(href="#!").btn.approximate__item-btn Заказать 
