mixin bid() 
    section.section.bid.container#bid 
        form(action="#" method="post").bid__form
            h2.title.bid__title Остались вопросы? #[br] #[span Мы вам перезвоним] 
            .bid__field 
                input(type="text" placeholder="ФИО" id="fio" required).input.bid__input
                <svg width="9" height="8" viewBox="0 0 9 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.99193 0.681041V3.29323L7.54555 2.40298L8.0141 3.70321L5.46048 4.53489L7.04185 6.7371L5.88218 7.56878L4.34767 5.28458L2.80144 7.56878L1.60663 6.7371L3.21143 4.53489L0.634383 3.70321L1.10294 2.40298L3.63313 3.31665V0.681041H4.99193Z" fill="#999EAB"/>
                </svg>
            .bid__field 
                input(type="text" placeholder="+7 (___) ___-__-__" id="tel" required).input.bid__input
                <svg width="9" height="8" viewBox="0 0 9 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.99193 0.681041V3.29323L7.54555 2.40298L8.0141 3.70321L5.46048 4
                    53489L7.04185 6.7371L5.88218 7.56878L4.34767 5.28458L2.80144 7.56878L1.60663 6.7371L3.21143 4.53489L0.634383 3.70321L1.10294 2.40298L3.63313 3.31665V0.681041H4.99193Z" fill="#999EAB"/>
                </svg>
            .bid__chk 
                input(type="checkbox" checked required id="req") 
                label(for="req") Я принимаю условия пользовательского соглашения 
            button(type="submit").bid__button.btn Отправить 