mixin contacts()
    section.section.contacts 
        .contacts__body.container 
            .contacts__content 
                h2.title.contacts__title.desktop Контакты
                p.contacts__p Sharing Kitchen Studio, м. Крестьянская застава/м. Площадь Ильича 
                .contacts__item 
                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M16.8448 27.345C19.1428 25.479 25.3327 19.8483 25.3327 13.3333C25.3327 8.17868 21.154 4 15.9994 4C10.8447 4 6.66602 8.17868 6.66602 13.3333C6.66602 19.8483 12.8559 25.479 15.1539 27.345C15.6513 27.7488 16.3474 27.7488 16.8448 27.345ZM16.0017 17.3335C18.2108 17.3335 20.0017 15.5426 20.0017 13.3335C20.0017 11.1243 18.2108 9.33346 16.0017 9.33346C13.7925 9.33346 12.0017 11.1243 12.0017 13.3335C12.0017 15.5426 13.7925 17.3335 16.0017 17.3335Z" fill="#E3B983"/>
                    </svg>
                    | Михайловский пр-д, 1 строение 3
                a(href="tel:+74958888888").contacts__item
                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.33398 11.2589C5.33398 6.9763 7.91318 5.59526 9.57663 5.36835C9.8885 5.3258 10.1859 5.4812 10.3747 5.73301L13.1099 9.37991C13.4085 9.77803 13.3689 10.3351 13.017 10.687L10.5844 13.1196C10.28 13.424 10.2064 13.888 10.426 14.2582C10.9368 15.1193 12.0049 16.7447 13.6303 18.37C15.2556 19.9954 16.881 21.0635 17.7421 21.5744C18.1123 21.794 18.5763 21.7203 18.8807 21.4159L21.3133 18.9833C21.6652 18.6314 22.2223 18.5918 22.6204 18.8904L26.2673 21.6256C26.5191 21.8145 26.6745 22.1118 26.632 22.4237C26.4051 24.0871 25.024 26.6663 20.7414 26.6663C16.0007 26.6663 12.4451 23.1108 10.6673 21.333C8.88954 19.5552 5.33398 15.9997 5.33398 11.2589Z" fill="#E3B983"/>
                    </svg>
                    b +7 (495) 888 88 88
                a(href="mailto:mail@mail.ru").contacts__item
                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M25.0006 8H7.00065C6.08017 8 5.33398 8.74619 5.33398 9.66666V10.2857L15.2136 15.5784C15.7052 15.8417 16.296 15.8417 16.7877 15.5784L26.6673 10.2857V9.66666C26.6673 8.74619 25.9211 8 25.0006 8Z" fill="#E3B983"/>
                        <path d="M17.1812 17.6532L26.6673 12.5714V22.3333C26.6673 23.2538 25.9211 24 25.0006 24H7.00065C6.08017 24 5.33398 23.2538 5.33398 22.3333V12.5714L14.8201 17.6532C15.5575 18.0483 16.4437 18.0483 17.1812 17.6532Z" fill="#E3B983"/>
                    </svg>
                    | mail@mail.ru
                .contacts__item
                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <ellipse cx="15.9993" cy="9.38296" rx="5.33333" ry="5.92593" fill="#E3B983"/>
                        <path d="M26.6673 24.1982C26.6673 27.7983 21.2371 26.5686 16.0007 26.5686C10.7642 26.5686 5.33398 27.7983 5.33398 24.1982C5.33398 20.5981 10.7642 17.6797 16.0007 17.6797C21.2371 17.6797 26.6673 20.5981 26.6673 24.1982Z" fill="#E3B983"/>
                    </svg>
                    | ИП Нитченко А. И. <br>ОГРНИП 317312300000432<br>ИНН 312325179920 
                a(href="#!").btn.contacts__btn Открыть в Яндекс навигаторе 
            .contacts__map 
                <div><a href="https://yandex.ru/maps/213/moscow/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Москва</a><a href="https://yandex.uz/maps/213/moscow/house/mikhaylovskiy_proyezd_1s3/Z04YcA9nTkYGQFtvfXtycHlkYw==/?ll=37.687730%2C55.731577&utm_medium=mapframe&utm_source=maps&z=17" style="color:#eee;font-size:12px;position:absolute;top:14px;">Михайловский проезд, 1с3 на карте Москвы, ближайшее метро Пролетарская — Яндекс Карты</a><iframe src="https://yandex.uz/map-widget/v1/-/CCUFfNuJoB" frameborder="0" allowfullscreen="true" style="position:relative;"></iframe></div>
            h2.title.contacts__title.mobile Контакты 
            
