mixin contacts()
    section.section.contacts 
        .contacts__body.container 
            .contacts__content 
                h2.title.contacts__title Контакты
                p.contacts__p Sharing Kitchen Studio, м. Крестьянская застава/м. Площадь Ильича
            .contacts__map 
                <div style="position:relative;overflow:hidden;"><a href="https://yandex.ru/maps/213/moscow/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Москва</a><a href="https://yandex.uz/maps/213/moscow/house/mikhaylovskiy_proyezd_1s3/Z04YcA9nTkYGQFtvfXtycHlkYw==/?ll=37.687730%2C55.731577&utm_medium=mapframe&utm_source=maps&z=17" style="color:#eee;font-size:12px;position:absolute;top:14px;">Михайловский проезд, 1с3 на карте Москвы, ближайшее метро Пролетарская — Яндекс Карты</a><iframe src="https://yandex.uz/map-widget/v1/-/CCUFfNuJoB" width="560" height="400" frameborder="0" allowfullscreen="true" style="position:relative;"></iframe></div>
