mixin intro()
    section.section.intro.hero 
        .intro__body.container 
            .intro__content 
                h1.intro__title Профессиональная#[br]Food-студия записи
                ul.intro__list 
                    li.intro__li 
                        <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="0.932129" y="0.811523" width="23.9899" height="23.9899" rx="11.995" fill="#31AD72"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M19.9776 7.8017L11.7591 17.2847L6.50562 12.0312L7.35379 11.1831L11.6963 15.5256L19.0712 7.01611L19.9776 7.8017Z" fill="white"/>
                        </svg>
                        | Видео-рецептов
                    li.intro__li 
                        <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="0.932129" y="0.811523" width="23.9899" height="23.9899" rx="11.995" fill="#31AD72"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M19.9776 7.8017L11.7591 17.2847L6.50562 12.0312L7.35379 11.1831L11.6963 15.5256L19.0712 7.01611L19.9776 7.8017Z" fill="white"/>
                        </svg>
                        | Предметной съемки
                    li.intro__li 
                        <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="0.932129" y="0.811523" width="23.9899" height="23.9899" rx="11.995" fill="#31AD72"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M19.9776 7.8017L11.7591 17.2847L6.50562 12.0312L7.35379 11.1831L11.6963 15.5256L19.0712 7.01611L19.9776 7.8017Z" fill="white"/>
                        </svg>
                        | Онлайн-курсов#[br]и видео-лекций
                    li.intro__li 
                        <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="0.932129" y="0.811523" width="23.9899" height="23.9899" rx="11.995" fill="#31AD72"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M19.9776 7.8017L11.7591 17.2847L6.50562 12.0312L7.35379 11.1831L11.6963 15.5256L19.0712 7.01611L19.9776 7.8017Z" fill="white"/>
                        </svg>
                        | Вебинаров и трансляций
                    li.intro__li 
                        <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="0.932129" y="0.811523" width="23.9899" height="23.9899" rx="11.995" fill="#31AD72"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M19.9776 7.8017L11.7591 17.2847L6.50562 12.0312L7.35379 11.1831L11.6963 15.5256L19.0712 7.01611L19.9776 7.8017Z" fill="white"/>
                        </svg>
                        | Видео-обзоров
                a(href="services.html").btn.intro__btn Подробнее 
            .intro__img 
                img(src="@img/intro-img.png", alt="" draggable="false")

mixin intro-facility()
    section.section.facility.hero 
        .intro__body.facility__body.container 
            .intro__img 
                img(src="@img/facility.png", alt="" draggable="false")
            .intro__content.facility__content 
                h1.intro__title Оснащение студии
                p.facility__p Наша студия создавалась совместно с проектом Sharing Kitchen для создания высококачественного видеоконтента и оказания услуг видеосъемки для клиентов Sharing Kitchen и не только. Мы изначально продумывали такие важные моменты, как шумоизоляция, эргономика, функциональность пространств. С нами делились опытом лучшие мастера food-индустрии и мы попытались перенять их опыт на 100%.
                .facility__info 
                    p.facility__info-title Наша миссия
                    p.facility__info-p Сделать процесс генерации видео-контента максимально удобным для вас. Именно поэтому мы подошли особенно серьезно к вопросу оснащения нашей студии.