mixin location()
    section.section.location
        .location__body.container
            h2.title.location__title Наша студия #[span в центре Москвы]
            .location__row 
                .location__slider 
                    .location__swiper.swiper 
                        .location__swiper-wrapper.swiper-wrapper 
                            .location__slide.swiper-slide 
                                img(src="@img/location-img-1.png", alt="" draggable="false")
                            .location__slide.swiper-slide 
                                img(src="@img/location-img-1.png", alt="" draggable="false")
                            .location__slide.swiper-slide 
                                img(src="@img/location-img-1.png", alt="" draggable="false")
                    .location__buttons 
                        .location__prev
                        .location__next
                .location__content 
                    ul.location__list 
                        li.location__li #[img(src="@img/location-icon-1.svg", alt="" draggable="false")] Михайловский пр-д, 1 строение 3 м. Крестьянская застава / м. Площадь Ильича
                        li.location__li #[img(src="@img/location-icon-2.svg", alt="" draggable="false")] Работаем с 10:00 до 20:00
                        li.location__li #[img(src="@img/location-icon-3.svg", alt="" draggable="false")] Площадь 60 м2
                        li.location__li #[img(src="@img/location-icon-4.svg", alt="" draggable="false")] Несколько зон для съемки разных форматов food-контента
                    a(href="#!").location__btn.btn Подробнее 