mixin offer()
    section.section.offer 
        .offer__body.container 
            .offer__content 
                h2.title.offer__title #[span Для вашего удобства предлагаем] подобрать время и обсудить все интересующие вас вопросы
                a(href="#bid").btn.offer__btn Оставить заявку
            .offer__img 
                img(src="@img/offer.png", alt="" draggable="false")