mixin accordion(btn, content)
    .accordion 
        button(type='button').accordion__button #{btn}
            <svg width="73" height="73" viewBox="0 0 73 73" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="0.30603" y="0.64624" width="71.9698" height="71.9698" rx="35.9849" fill="#E3B983"/>
                <path d="M44.7725 47.9402L36.2908 39.4585L27.809 47.9402L24.9818 45.113L33.4635 36.6313L24.9818 28.1495L27.809 25.3223L36.2908 33.804L44.7725 25.3223L47.5997 28.1495L39.118 36.6313L47.5997 45.113L44.7725 47.9402Z" fill="white"/>
            </svg>
        .accordion__content
            | #{content}


mixin quests()  
    section.section.quests 
        .quests__body.container 
            h2.title.quests__title #[span Ответы] на вопросы
            +accordion('Как проходит процесс записи аудио подкаста?', 'На записи присутствует звукорежиссер, который настроит оборудование и расскажет как работать с микрофонами и наушниками. Вам нужно будет просто говорить. После записи Вашего подкаста звукорежиссер передаст ссылку по которой булут находиться записанные Вами дорожки в формате .wav Каждый микрофон на отдельной дорожке.')
            +accordion('Можно ли отменить бронь?', 'ответ')
            +accordion('Как оплатить?', 'ответ')
            +accordion('Можно ли прийтий со своим оборудованием и оператором чтобы снимать видео?', 'ответ')
            +accordion('Где и как хранятся мои материалы?', 'ответ')
