mixin services-item(img, title, link)
    a(href=`${link}`).services__item
        .services__item-img 
            img(src=`img/service-${img}.png`, alt="" draggable="false")
        p.services__item-title #{title}



mixin services-intro()
    section.section.services.hero 
        .services__body.container 
            h2.title.services__title Наши услуги
            .services__content 
                +services-item(1, 'Видео-рецепты', 'video-recepts.html')
                +services-item(2, 'Онлайн курс/видео-лекция', 'online-course.html')
                +services-item(3, 'Видео-обзоры', 'video-reviews.html')
                +services-item(4, 'Предметная съемка', 'object-shooting.html')
                +services-item(5, 'Вебинары/трансляции', 'vebinars.html')